<template name="engagement">
<div class="engagement">
	{{> Template.dynamic template=engagementType}}
</div>
</template>
<template name="newEngagement">
	<a class="" href="#" tabindex="1"><i class="icon-angle-up boost-message"></i></a>
	<a class="" href="#" tabindex="1"><i class="icon-angle-down boost-message"></i></a>
</template>
<template name="boostEngagement">
	<a class="" href="#" tabindex="1"><i class="icon-angle-double-up boost-message"></i></a>
	<a class="" href="#" tabindex="1"><i class="icon-angle-down boost-message"></i></a>
</template>
<template name="silenceEngagement">
	<a class="" href="#" tabindex="1"><i class="icon-angle-up boost-message"></i></a>
	<a class="" href="#" tabindex="1"><i class="icon-angle-double-down boost-message"></i></a>
</template>
